body {
  background-color: #c5b7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}
img {
  width: 500px;
  height: 400px;
}

.error-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.error-container-text {
  font-size: 1.5rem;
}

.error-container-button button {
  padding: 0.7rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  border-style: none;
}

.error-container-button button:hover {
  cursor: pointer;
  background-color: #d9cfff;
}
